<!-- right side -->
<div style="top: 20px;
			right: 20px;
			position:fixed;
			color:white;
			display:block">
	<a href="#">
		<img class="pull-right" style="width:52px; height:52px; margin-left: 20px;" src="/assets/home.png">
	</a>
	
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img style="width:50px; height:50px; margin-left: 20px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/370599_708576256_1032762146_q.jpg" class="img-circle pull-right">
	</a>
	<ul class="dropdown-menu" role="menu">
	    <li><a tabindex="-1" href="#">Action</a></li>
		<li><a tabindex="-1" href="#">Another action</a></li>
		<li><a tabindex="-1" href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="#">Log out</a></li>
	</ul>

	<div class="pull-right">
		<h4 style="margin-bottom:0;margin-top:6px;"> Cristian Rosu </h4>
		<p  class="pull-right"><i class="icon-star icon-white"></i> 0 notifications </p>
	</div>
</div>

<!-- left side -->
<div style="bottom: 0px;
			top: 0px;
			left: 0px;
			position:fixed;
			background-color: #181818;
			width: 80px;
			display:block"> 


	<div class="nav" style="
							margin-top: 40px;
							z-index: 2;
							background: #181818;
							height:70px;
							width:100%;
							background: transparent none center center no-repeat;
							background-image: url(<%= asset_path 'icon-preview-32-light.png' %>);
							">
						</div>

	<div class="nav" style="margin-top: 40px;
						z-index: 2;
						background: #181818;
						height:70px;
						width:100%;
						background: transparent none center center no-repeat;
						background-image: url(<%= asset_path 'icon-content-32-light.png' %>);
						">
					</div>
	<div class="nav" style="margin-top: 40px;
						z-index: 2;
						background: #181818;
						height:70px;
						width:100%;
						background: transparent none center center no-repeat;
						background-image: url(<%= asset_path 'icon-settings-32-light.png' %>);
						">
					</div>


</div>



<div style="max-width: 200px; 
						bottom: 0px;
						background:#f0f0f0;
						color:white;
						top:0;
						left: 80px;
						position:fixed;
						margin-bottom:0px;
						border-radius:0px;">
              <ul class="nav nav-list" style="padding-top:60px;">
                <li class="nav-header">Event Sections</li>
                <li class="active"><a href="#">Basic info</a></li>
                <li><a href="#">Details</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">Speakers</a></li>

                <li class="nav-header">Manage</li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Sponsorships</a></li>
                <li><a href="#">Volunteers</a></li>
                <li><a href="#">Participants</a></li>
                <li class="nav-header">More</li>
                <li><a href="#">+ Add section</a></li>
                <li><a href="#">+ Add update</a></li>
                
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
              </ul>
</div> 