<div style="padding-top:80px;color:white;z-index:-1; position:absolute; width:100%; top:0; bottom:0;left:80px;background-image: url(<%= asset_path 'pattern.png'%>);">
	<div style="position:fixed; left:260px">	
		<div class="row">
			<div id="workspace" class="span10">
				<%= yield %>
			</div>
		</div>
	<div>
</div>