<div style="	padding: 10px 0px;
				width:100%;
				top: 0px;
				color:white;
				position:fixed;
				display:block;
				border-bottom:3px dashed #ccc;
				background-image: url(<%= asset_path 'pattern.png' %>);">
	<!-- butoanele de sus  -->	
	<div class="pull-left" style="margin-left:90px"	>
			<a class="new_event btn btn-large btn-blue " style="margin-top:5px;margin-left:30px"><i class="icon-calendar icon-white"></i>&nbsp; Create Event</a>	
			<a class="edit_event btn btn-large btn-orange" style="margin-top:5px;margin-left:30px"><i class="icon-bullhorn icon-white"></i>&nbsp; Promote event</a>	

			<a class="btn btn-large btn-purple " style="margin-top:5px;margin-left:30px"><i class="icon-bullhorn icon-white"></i>&nbsp; Promote Event</a>
	</div>
		
		<!-- right side -->
		<a href="#">
			<img class="pull-right" style="width:52px; height:52px; margin-right: 20px;" src="/assets/home.png">
		</a>
		
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img style="width:50px; height:50px; margin-right: 20px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/370599_708576256_1032762146_q.jpg" class="img-circle pull-right">
		</a>
		<ul class="pull-right dropdown-menu" role="menu">
		    <li><a tabindex="-1" href="#">Action</a></li>
			<li><a tabindex="-1" href="#">Another action</a></li>
			<li><a tabindex="-1" href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#">Log out</a></li>
		</ul>

		<div class="pull-right" style="margin-right:10px;">
			<h4 style="margin-bottom:0;margin-top:6px;"> Cristian Rosu </h4>
			<p  class="pull-right"><i class="icon-star icon-white"></i> 0 notifications </p>
		</div>
</div>

	<!-- left side -->
	<div style="bottom: 0px;
				top: 0px;
				left: 0px;
				position:fixed;
				background-color: #181818;
				width: 80px;
				display:block"> 

			<a href="#" class="home_admin">
				<div class="xx"  style="
										margin-top: 40px;
										z-index: 2;
										background: #181818;
										height:70px;
										width:100%;
										background: transparent none center center no-repeat;
										background-image: url(<%= asset_path 'icon-preview-32-light.png' %>);
										">

				</div>
			</a>
			<a href="#" class="new_event">
				<div class="xx"  style="margin-top: 40px;
									z-index: 2;
									background: #181818;
									height:70px;
									width:100%;
									background: transparent none center center no-repeat;
									background-image: url(<%= asset_path 'icon-content-32-light.png' %>);
									">
				</div>
			</a>
			<a href="#">
				<div class="xx"  style="margin-top: 40px;
									z-index: 2;
									background: #181818;
									height:70px;
									width:100%;
									background: transparent none center center no-repeat;
									background-image: url(<%= asset_path 'icon-settings-32-light.png' %>);
									">
				</div>
			</a>

	</div>
</ul>
</div>