<div style="margin-left:100px;padding-top:30px">	<!-- compensate the menu-bar on the right -->
	<div class="row">
		<div class="span11">
				<%= yield %>
		</div>
		<div id="workspace" class="span11">
				
		</div>
	</div>
</div>