<div style="bottom: 0px;
			top: 0px;
			left: 0px;
			position:fixed;
			background-color: #181818;
			width: 80px;
			display:block"> 


	<div class="nav" style="
							margin-top: 40px;
							z-index: 2;
							background: #181818;
							height:70px;
							width:100%;
							background: transparent none center center no-repeat;
							background-image: url(<%= asset_path 'icon-preview-32-light.png' %>);
							">
						</div>

	<div class="nav" style="margin-top: 40px;
						z-index: 2;
						background: #181818;
						height:70px;
						width:100%;
						background: transparent none center center no-repeat;
						background-image: url(<%= asset_path 'icon-content-32-light.png' %>);
						">
					</div>
	<div class="nav" style="margin-top: 40px;
						z-index: 2;
						background: #181818;
						height:70px;
						width:100%;
						background: transparent none center center no-repeat;
						background-image: url(<%= asset_path 'icon-settings-32-light.png' %>);
						">
					</div>


</div>
<div class="well" style="max-width: 200px; 
						bottom: 0px;
						top: 35px;
						left: 80px;
						position:fixed;
						margin-bottom:0px;
						border-radius:0px;">
              <ul class="nav nav-list">
                <li class="nav-header">Event Sections</li>
                <li class="active"><a href="#">Basic info</a></li>
                <li><a href="#">Details</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">Speakers</a></li>

                <li class="nav-header">Manage</li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Sponsorships</a></li>
                <li><a href="#">Volunteers</a></li>
                <li><a href="#">Participants</a></li>
                <li class="nav-header">More</li>
                <li><a href="#">+ Add section</a></li>
                <li><a href="#">+ Add update</a></li>
                
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
              </ul>
</div>