 <div class="row">
    <div class="span10 offset1">
    	<div class="sponsors clearfix">
    		<div class="clearfix">
    				<a style="float:right" class="btn btn-large btn-orange">+</a>
    				<div class="head">
    					<h1>Manage Sponsorships</h1>
    					<p> Messeges(<span style="color:#38b2d3">4</span>)</p>
    					<p> New Requests(<span style="color:#38b2d3">13</span>)</p>
    				</div>
    				<div class="selector">
    					<ul class="new-event"  style="margin-top:30px;">
    				        <li><a class="active">All</a></li>
    				        <li><a>Active</a></li>
    				        <li><a>Pending</a></li>
    				        <li><a>Rejected</a></li>	        
    				    </ul>
    				</div>
    			</div>

    		<div class=" sopnsor span4" style="margin-left:50px;border-bottom:1px dashed #e0e0e0">
                        <a href="/Companies/Details/14"><center><img class="hover_alb" style="margin-right:20px;float:left;vertical-align:middle;max-height:98px;" src="http://www.theseedbit.com/Content/Pictures/cosmote.png"></center></a>
                  
                     <div style="margin-left:10px;padding-right:10px"> 
                            <a href="#"><h4 style="margin-top: 5px; margin-bottom: 5px; text-decoration: none; ">Cosmote</h4></a>
                            <p style="margin-bottom:0"> <strong>4</strong> Active Sponsorships</p>
                            <p> <strong>Status:</strong> Pending</p>
                            <input style="float:right" type="button" class="btn btn-small btn-blue" value="Follow">
                            <p>
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-url" data-original-title="Link to Company's Web Page"></i></a>&nbsp;
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-fb" data-original-title="Link to Facebook Page"></i></a>&nbsp;
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-twitter" data-original-title="Link to Company's Twitter Account"></i></a>&nbsp;
                                <a href="#"><i class="icn-pin data-tooltip" rel="tooltip" data-original-title="Romania"></i></a>&nbsp;
                            </p>
                      </div>
                   
            </div>

            <div class="sponsor span4" style="margin-left:50px;border-bottom:1px dashed #e0e0e0">
                        <a href="/Companies/Details/14"><center><img class="hover_alb" style="margin-right:20px;float:left;vertical-align:middle;max-height:98px;" src="http://www.theseedbit.com/Content/Pictures/cosmote.png"></center></a>
                  
                     <div style="margin-left:10px;padding-right:10px"> 
                            <a href="#"><h4 style="margin-top: 5px; margin-bottom: 5px; text-decoration: none; ">Cosmote</h4></a>
                            <p style="margin-bottom:0"> <strong>4</strong> Active Sponsorships</p>
                            <p> <strong>Status:</strong> Pending</p>
                            <input style="float:right" type="button" class="btn btn-small btn-blue" value="Follow">
                            <p>
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-url" data-original-title="Link to Company's Web Page"></i></a>&nbsp;
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-fb" data-original-title="Link to Facebook Page"></i></a>&nbsp;
                                <a href="#"><i rel="tooltip" class="data-tooltip icn-twitter" data-original-title="Link to Company's Twitter Account"></i></a>&nbsp;
                                <a href="#"><i class="icn-pin data-tooltip" rel="tooltip" data-original-title="Romania"></i></a>&nbsp;
                            </p>
                      </div>
                   
            </div>
    	</div>
    </div>
</div>