<div class="row">
	<div class="span10 offset1">
			<div class="volunteers clearfix">
				<div class="clearfix">
					<a style="float:right" class="btn btn-large btn-orange">Invite more People</a>
					<div class="head">
						<h1>Manage Volunteers</h1>
						<p> Messeges(<span style="color:#38b2d3">4</span>)</p>
						<p> New Requests(<span style="color:#38b2d3">13</span>)</p>
					</div>
					<div class="selector">
						<ul class="new-event"  style="margin-top:30px;">
					        <li><a class="active">All</a></li>
					        <li><a>Upcoming Events</a></li>
					        <li><a>Gender </a><b class="caret" style="margin-top:6px;"></b></li>	        
					    </ul>
					</div>
				</div>
				<div class="volunteer span3">
		            <img src="https://graph.facebook.com/518547914/picture" alt="Florin Muresan">
		            <div class="pull-left">
		                <h4>Florin Muresan</h4>
		                <p style="color:#222"> Human resources </p>
		       
			        </div>
			    </div>
		        
		        <div class="volunteer span3">
		            <img src="https://graph.facebook.com/526512303/picture" alt="Diana Bicazan">
		            <div class="pull-left">
		                <h4>Diana Bicazan</h4>
		                <p> Human resources </p>
		       
			        </div>
			    </div>
			    <div class="volunteer span3">
		            <img src="https://graph.facebook.com/512877035/picture" alt="Adina Pusok">
		            <div class="pull-left">
		                <h4>Adina Pusok</h4>
		                <p> Human resources </p>
		       
			        </div>
			    </div>
			     <div class="volunteer span3">
		            <img src="https://graph.facebook.com/1072984446/picture" alt="Georgiana Oltean">
		            <div class="pull-left">
		                <h4>Georgiana Oltean</h4>
		                <p> Human resources </p>
		       
			        </div>
			    </div>
			     <div class="volunteer span3">
		            <img src="https://graph.facebook.com/631765240/picture" alt="Șandor Bogdan">
		            <div class="pull-left">
		                <h4>Sandor Bogdan</h4>
		                <p> Human resources </p>
		       
			        </div>
			    </div>
			    <div class="volunteer span3">
		            <img src="https://graph.facebook.com/1395927039/picture" alt="Ana Boies">
		            <div class="pull-left">
		                <h4>Ana Boies</h4>
		                <p> Human resources </p>
		       
			        </div>
			    </div>
			    <a style="float:right"class="btn btn-large btn-blue">View all</a>
			    
	    	</div>
	</div>
</div>