<div class="row" style="padding:30px 0">
	<div class="span offset1">
		<a class="btn btn-large btnx btnx-blue"><i class="icon-calendar icon-white"></i>&nbsp; CREATE EVENT</a>	
	</div>
	<div class="span offset1">
		<a class="btn btn-large btnx btnx-orange"><i class="icon-bullhorn icon-white"></i>&nbsp; PROMOTE EVENT</a>	
	</div>
	<div class="span offset1">
		<a class="btn btn-large btnx btnx-green"><i class="icon-hand-right icon-white"></i>&nbsp; MANAGE PEOPLE</a>	
	</div>
</div>


<h3> Your Events </h3>