<%= render "menu_bar_admin" %>

<div class="row">
	<div class="span10" style="position:fixed; top:50px;left:225px">
<div class="hero-unit">
  <h1>Home page</h1>
  <p>Create and promote an event, sponsor or simply get involved as a volunteer </p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
</div>
</div>