 <div class="row" > <!-- style="padding:30px 0"  -->
	<div class="span10 offset1">
		<div class="top-bar clearfix">
			<div class="right-menu">
				<a href="#" class="btn btn-green">New Event</a>
				<a href="#" class="btn btn-orange">Manage Volunteers</a>
			</div>
			<a class="profile-image" style="display: block;
											float: left;
											margin-right: 20px;">
					<img alt="Small_vapjpmb0a3bscmazj0du" src="https://s3.amazonaws.com/assets.spinlister.com/user/4174/small_vAPjpMb0a3BsCMAZj0dU.jpg" width="150">						
									</a>
			<h2>Hi, Cristian Rosu</h2>
			<div class="cleafix">
				<ul class="stats">
					<li class="stat">
					<div class="value">3</div>
					<div class="descriptor">Upcoming Events</div>
					</li>
					<li class="stat">
					<div class="value">14</div>
					<div class="descriptor">New Volunteers</div>
					</li>
					<li class="stat">
					<div class="value">2</div>
					<div class="descriptor">Sponsorships</div>
					</li>
					<li class="stat">
					<div class="value">$0.00</div>
					<div class="descriptor">Balance</div>
					</li>
				</ul>
			</div>
		</div>

		<center>
		<h1>Welcome to Seedbit</h1>
			<h1><small>Seedbit helps you to easily find sponsors for your event so you can actually focus on organizing your event</small></h1>
		</center>
	</div>
</div>

<h2> De aici in jos timeline </h2>


<section id="timeline" class="view active">
<div class="timeline-container">
	<span class="event year">2011</span>
	<br>
	<div class="line"></div>
	<div class="event_right event_container">
		<!-- 	<span class="date left">fwefewpifuhwpber</span>
				<span class="date left">sdfsdf</span> -->
				<span class="bullet left"></span>

			 	<div class="event tag right">
					
			 		<div class="" style="background:white">
						<section class="event-timeline" style="background:none;padding-bottom:0;padding-top:0;margin-bottom:0px;">
				    <article id="" class="post event-section" style="padding-left:0;padding-top:5px;margin-bottom:0;margin-top:0;">

				     	<h2 class="pad3 introduction" style="background:white;padding:10px;margin-bottom:0;">Title of the event</h2>
						<div class="article-content">
							
							   <div style="position: relative; 	
										height: 180px;
										 ">
									<div id="carousel-header"  class="carousel slide" style="top:0;width:100%;">
											                <div class="carousel-inner">
											                  <div class="item" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg');
																						background-position: center center;">
											                  </div>
											                  <div class="item active" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://pcdn.500px.net/2909150/8f83a21caccca769b108b524443f04c30268cf2d/4.jpg');
																						background-position: center center;">
											                  </div>
											                  <div class="item" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://pcdn.500px.net/121484/905a2f3d980aae640ef9443d77a71f6f323d65ae/4.jpg');
																						background-position: center center;">
											                  </div>
											                </div>
											                <a class="left carousel-control" style="top:90px" href="#carousel-header" data-slide="prev">‹</a>
											                <a class="right carousel-control" style="top:90px" href="#carousel-header" data-slide="next">›</a>
										</div>

							</div>
							<div class="presenter clearfix">
												<div class="stats">
													<div class="stat">
														<div class="value">234</div>
														<div class="descriptor">People attending </div>
													</div>
													<div class="stat">
														<div class="value">13</div>
														<div class="descriptor">Concerts</div>
													</div>
													<div class="stat">
														<div class="value">25</div>
														<div class="descriptor">Volunteers</div>
													</div>
												</div>
							</div>	
						</div>
					</article>	
				    </section>
					</div>
				</div> 

	</div>

	<div class="event_left event_container">
		<!-- 	<span class="date left">fwefewpifuhwpber</span>
				<span class="date left">sdfsdf</span> -->
				
		 	<div class="event tag left">

				<section class="event-timeline" style="background:none;padding-bottom:0;padding-top:0;margin-bottom:0px;">
				    <article id="" class="post event-section" style="padding-left:0;padding-top:5px;margin-bottom:0;margin-top:0;">

				     	<h2 class="pad3 introduction" style="background:white;padding:10px;margin-bottom:0;">Title of the event</h2>
						<div class="article-content">
							
							   <div style="position: relative; 	
										height: 180px;
										 ">
									<div id="carousel-header"  class="carousel slide" style="top:0;width:100%;">
											                <div class="carousel-inner">
											                  <div class="item" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg');
																						background-position: center center;">
											                  </div>
											                  <div class="item active" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://pcdn.500px.net/2909150/8f83a21caccca769b108b524443f04c30268cf2d/4.jpg');
																						background-position: center center;">
											                  </div>
											                  <div class="item" style=" background-size: cover;
											                  							height:180px;
																						background-repeat: no-repeat;
																						background-image: url('http://pcdn.500px.net/121484/905a2f3d980aae640ef9443d77a71f6f323d65ae/4.jpg');
																						background-position: center center;">
											                  </div>
											                </div>
											                <a class="left carousel-control" style="top:90px" href="#carousel-header" data-slide="prev">‹</a>
											                <a class="right carousel-control" style="top:90px" href="#carousel-header" data-slide="next">›</a>
										</div>

							</div>
							<div class="presenter clearfix">
												<div class="stats">
													<div class="stat">
														<div class="value">234</div>
														<div class="descriptor">People attending </div>
													</div>
													<div class="stat">
														<div class="value">13</div>
														<div class="descriptor">Concerts</div>
													</div>
													<div class="stat">
														<div class="value">25</div>
														<div class="descriptor">Volunteers</div>
													</div>
												</div>
							</div>	
						</div>
					</article>	
				    </section>
				    <!-- PANA AICI 1 -->


		 	</div>
			<span class="bullet"></span> 
	</div>

	
</div>


</div>

</section>


 