<div class="row" style="padding:30px 0">
	<div class="span offset1">
		<a class="btn btn-large btn-blue"> CREATE EVENT</a>	
	</div>
	<div class="span offset1">
		<a class="btn btn-large btn-orange"> PROMOTE EVENT</a>	
	</div>
	<div class="span offset1">
		<a class="btn btn-large btn-green"> PROMOTE EVENT</a>	
	</div>
</div>


<h3> Your Events </h3>