<!-- <div class="row" > <!-- style="padding:30px 0" 
	<div class="span10 offset1">
		<div class="top-bar clearfix">
			<div class="right-menu">
				<a href="#" class="btn btn-green">New Event</a>
				<a href="#" class="btn btn-orange">Manage Volunteers</a>
			</div>
			<a class="profile-image" style="display: block;
											float: left;
											margin-right: 20px;">
					<img alt="Small_vapjpmb0a3bscmazj0du" src="https://s3.amazonaws.com/assets.spinlister.com/user/4174/small_vAPjpMb0a3BsCMAZj0dU.jpg" width="150">						
									</a>
			<h2>Hi, Cristian Rosu</h2>
			<div class="cleafix">
				<ul class="stats">
					<li class="stat">
					<div class="value">3</div>
					<div class="descriptor">Upcoming Events</div>
					</li>
					<li class="stat">
					<div class="value">14</div>
					<div class="descriptor">New Volunteers</div>
					</li>
					<li class="stat">
					<div class="value">2</div>
					<div class="descriptor">Sponsorships</div>
					</li>
					<li class="stat">
					<div class="value">$0.00</div>
					<div class="descriptor">Balance</div>
					</li>
				</ul>
			</div>
		</div>

		<center>
		<h1>Welcome to Seedbit</h1>
			<h1><small>Seedbit helps you to easily find sponsors for your event so you can actually focus on organizing your event</small></h1>
		</center>
	</div>
</div>



 -->