
<div class="hero-unit">
  <h1>Home page</h1>
  <p>Create and promote an event, sponsor or simply get involved as a volunteer </p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
