<center><h1>Hello</h1></center>
<div style="position:absolute;top:-45px;right:20px">
	<a class="btn btn-orange" style="float:right">Sign up</a>
	<a class="btn btn-blue" style="margin-right:10px;float:right">Login</a>

</div>
<div style="padding-top:30px;border-bottom:1px solid #e4e4e4; margin-top:40px;padding-bottom:30px; margin-left:-20px; margin-right:-20px;background:white">
        <div class="row-fluid">
	            <div class="span3 offset1">
                    <center><img src="../assets/star.png" class="img-rounded"></center>
    	            <h3 style="color:#656565"><center>For ORGANISERS</center></h3>
    	            <p class="xx"><img src="../assets/pct.png"> The easiest way to find sponsorships for your event</p>
                    <p class="xx"><img src="../assets/pct.png"> A new and fast way to find volunteers</p>
                    <p class="xx"><img src="../assets/pct.png"> You focus on creating the best event, we’ll take care of the rest
                </p></div>
                <div class="span4">
                    <center><img src="../assets/dollar.png" class="img-rounded"></center>
    	            <h3 style="color:#656565"><center>For SPONSORS</center></h3>
    	            <p class="xx"><img src="../assets/pct.png"> Address to the best targeted audience, that best suit your interests</p>
                    <p class="xx"><img src="../assets/pct.png"> Keep track of the impact your sponsorship is making </p>
                </div>
                <div class="span3">
                    <center><img src="../assets/om.png"></center>
    	            <h3 style="color:#656565"><center>For ATENDEES</center></h3>
    	            <p class="xx"><img src="../assets/pct.png"> Explore through great events and get involved</p>
                    <p class="xx"><img src="../assets/pct.png"> Find the best volunteering opportunities for you</p>
                </div>
         </div>
</div>


<div style="margin-bottom:40px;background-color:whiteSmoke; border-bottom:1px solid #e4e4e4; margin-left:-20px; margin-right:-20px">
        <center>
        <img style="max-width:700px; max-width:1600px;min-width:500px;" src="../assets/abc.png">
        </center>
</div>
