   <div class="article-content clearfix"  style="width:100%">
      
         <div style="position: relative;  
            height: 180px; float:left
             ">
              <div id="carousel322"  class="carousel slide" style="top:0;width:400px">
                    <div class="carousel-inner">
                      <div class="item" style=" background-size: cover;
                                    height:180px;
                          background-repeat: no-repeat;
                          background-image: url('http://www.augustahackathon.com/sites/default/files/images/20122506081633.jpg');
                          background-position: center center;">
                      </div>
                      <div class="item active" style=" background-size: cover;
                                    height:180px;
                          background-repeat: no-repeat;
                          background-image: url('http://foursquare.wpengine.netdna-cdn.com/wp-content/uploads/2011/08/hackathon.jpg');
                          background-position: center center;">
                      </div>
                      <div class="item" style=" background-size: cover;
                                    height:180px;
                          background-repeat: no-repeat;
                          background-image: url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/531593_405246856206027_1145543767_n.jpg');
                          background-position: center center;">
                      </div>
                    </div>
                                  <a class="left carousel-control" style="top:90px" href="#carousel322" data-slide="prev">‹</a>
                                  <a class="right carousel-control" style="top:90px" href="#carousel322" data-slide="next">›</a>
                </div>

      </div>
       <div class="presenter " style="height:179px;float:left;width:680px">
        <h2 class="pad3 introduction" style="background:white;padding:10px;margin-bottom:0;">Event Thumbnail test</h2>
   
          <div class="stats">
            <div class="stat">
              <div class="value">23</div>
              <div class="descriptor">Teams</div>
            </div>
            <div class="stat">
              <div class="value">3000$</div>
              <div class="descriptor">Prizes</div>
            </div>
            <div class="stat">
              <div class="value">15</div>
              <div class="descriptor">Sponsors</div>
            </div>
          </div>
      </div>  
</div>