<div id="badges">
<div class="row-fluid">
	<ul class="thumbnails">
		  <li class="span5 offset1">
		  	<div class="clearfix badge-sponsor">
		  		<center>
			  		<img style="margin-bottom:15px;" src="<%= asset_path  'sponsor-badge-blue.png' %>"> </img>
					<div style="border-bottom:1px dotted #ccc">
						<p>Average Sponsorship</p>
						<h3> 3 x 400$ </h3>
						<p><small>I need a space on 28-29 Sept, big enougth for 500 people or the equivalent in money. </small></p>
					</div>
				</center>
				<a style="margin-top:5px" class="pull-right btn btn-small btn-orange">Sponsor</a>
			</div>
		  </li>
		  <li class="span5">
		  	<div class="clearfix badge-sponsor">
		  		<center>
			  		<img style="margin-bottom:15px;" src="<%= asset_path  'sponsor-badge-gold.png' %>"> </img>
					<div style="border-bottom:1px dotted #ccc">
						<p>Average Sponsorship</p>
						<h3> 3 x 400$ </h3>
						<p><small>I need a space on 28-29 Sept, big enougth for 500 people or the equivalent in money. </small></p>
					</div>
				</center>
				<a style="margin-top:5px" class="pull-right btn btn-small btn-orange">Sponsor</a>
			</div>
		  </li>
	</ul>
</div>
</div>

