<article class="post update" style="margin-bottom:100px;padding-bottom:50px;">
	<section style="background:transparent">
		<aside>
			<time style="background:#0099b5;">
					
					 <div class="bubble-new-section">
						<h2 style="float:left;margin:0 80px;"> Section </h2>
					</div>
			</time>
		</aside>
		<div class="article-content" style="margin:0;">
			  <a href="#new_section_modal" role="button" class="btn btn-blue btn-large" data-toggle="modal">Add new section</a>
		</div>
	</section>
</article>	
<article class="post update" style="margin-bottom:100px;padding-bottom:50px;">
	<section style="background:transparent">
		<aside>
			<time style="background:#0099b5;">
					 <div class="bubble-comments">
						<h2 style="float:left;margin:0 80px;"> Comments </h2>
					</div>
			</time>

		</aside>
		<div class="article-content" style="margin:0;">
			  <a class="btn btn-blue btn-large" style="width:200px" href="#">Add comments</a>
		</div>
	</section>
</article>