<div id="wrapper"> 
	<section class="timeline-detail">

				<article class="post blog" style="margin-bottom:100px;padding-bottom:50px;">
					    <header>
					        <h2>how we made an awesome conference website</h2>
					    </header>
					    <aside>
					        <a href="/timeline?itemID=238">
					            <time datetime="aug 09">aug 09</time>
					        </a>
					        <div class="icon blog">
					            <span class="post-type">blog</span>
					            <span class="roundcircle"></span>
					                <img src="http://static.cinemagia.ro/img/resize/db/actor/00/39/20/dolly-parton-808599l-poza.jpg">
					        </div>
					        <strong>blog post door

					            <span>Bram van Rijen</span> <em>Creative Director</em>
					        </strong>
					    </aside>
					    <section>
					            <!--  <div id="myCarousel" class=" carousel slide">
					                <div class="carousel-inner">
					                  <div class="item">
					                    <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/419245_448362248542386_1146532177_n.jpg" alt="">
					                    <div class="carousel-caption">
					                      <h2>First Thumbnail label</h2>
					                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					                    </div>
					                  </div>
					                  <div class="item">
					                    <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
					                    <div class="carousel-caption">
					                      <h2>Second Thumbnail label</h2>
					                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					                    </div>
					                  </div>
					                  <div class="item active">
					                    <img src="http://static.cinemagia.ro/img/resize/db/actor/08/93/12/fernanda-dorogi-716172l-poza.jpg" alt="">
					                    <div class="carousel-caption">
					                      <h4>Third Thumbnail label</h4>
					                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					                    </div>
					                  </div>
					                </div>
					                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="line-height:42px;font-size:3.2em">‹</a>
					                <a class="right carousel-control" href="#myCarousel" data-slide="next" style="line-height:42px;font-size:3.2em">›</a>
					              </div> -->
					       <!--    <div class="article-content">
					             <p>To keep up with all the developments in our industry we attend a lot of conferences. And we even speak there sometimes. So when we got the chance to help an incredible event held in Holland, we didn’t hesitate.</p>
					<p>Robert Eerhart is organizing an event called <a href="http://2012.inspireconf.com">Ready to Inspire</a>, featuring the absolute top notch of our industry, including the likes of Jeffrey Zeldman,  Simon Collison and Cindy Chastain. And we offered him to give the event an online identity.</p>
					                <a class="read-more" href="http://blog.mangrove.nl/?pageID=3&amp;messageID=36029">find out how</a>
					        </div>  -->
					         
					    </section>
					   <div class="share-wrap">
								<a href="#" class="link-button share">More</a>
								</div>
					</article>


				<article class="post update" style="margin-bottom:100px;padding-bottom:50px;">
					<section>
										<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Emma_Stone_by_Gage_Skidmore.jpg/220px-Emma_Stone_by_Gage_Skidmore.jpg" />
									<header>
							<h2>Everything about the event</h2>
						</header>
						<aside>
							<time>Details</time>
							<!-- <div class="icon update">
								<span class="post-type">update</span>
								<span class="roundcircle"></span>
								<img src="../images/icon-timeline-update.png" alt=""/>
							</div> -->
						</aside>
						<div class="article-content">
							<p> 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip </p>
							<a class="read-more" href="#">See who is coming</a>
						</div>
					</section>

					<div class="share-wrap">
						<a href="#" class="link-button share">More</a>
					</div>
				</article>

			


					<article class="post update" style="margin-bottom:100px;padding-bottom:50px;">
						<section>
											<img src="../cache/images/3c29e05f2779aaa0a01d0510115f9b34_normal_2x.png" width="280" height="304" alt="Ordering a taxi without making a call" class="fs-img">
										<header>
								<h2>Everything about the event</h2>
							</header>
							<aside>
								<time>Details</time>
								<!-- <div class="icon update">
									<span class="post-type">update</span>
									<span class="roundcircle"></span>
									<img src="../images/icon-timeline-update.png" alt=""/>
								</div> -->
							</aside>
							<div class="article-content">
								<p> 
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip </p>
								<a class="read-more" href="#">See who is coming</a>
							</div>
						</section>
						<div class="share-wrap">
						<a href="#" class="link-button share">More</a>
					</div>
					</article>			
				
		</section>

 </div> 