<li id="last-bar" class="add_content-bar">
	<div id="add_more_stuff">Add More Stuff</div>
	<div id="last-bar_icons">
		<ul>
			<li class="add_content-header" data-type="header">Header</li>
			<li class="add_content-text" data-type="text">Body Text</li>
			<li class="add_content-list" data-type="list">List</li>
			<li class="add_content-button" data-type="button">Button</li>
			<li class="add_content-gallery" data-type="gallery">Photos</li>
			<li class="add_content-media" data-type="media">Media</li>
		</ul>
	</div>
</li>
<li id="roam-bar" class="add_content-bar">
	<div class="close-add_content">Close</div>
	<ul>
		<li class="add_content-header" data-type="header">Header</li>
		<li class="add_content-text" data-type="text">Body Text</li>
		<li class="add_content-list" data-type="list">List</li>
		<li class="add_content-button" data-type="button">Button</li>
		<li class="add_content-gallery" data-type="gallery">Photos</li>
		<li class="add_content-media" data-type="media">Media</li>
	</ul>
</li>