<div class="media_add" style="display:none;">

	<div class="media-contain_top form_bubble">
		
			<!-- <span style="display: block; position: absolute; left: -9999px;" class="media-target"></span> -->
		
			<!-- <span class="media_title">Add media into your Tackk</span> -->
			<p>Embed media into your event</p>
			
			<p><small>It's easy to embed videos, songs, photos, and anything else found on the web. Just paste a link to your Youtube, Vimeo, Hulu, Instagram, or Soundcloud.</small></p>

			<div class="control-group string optional">
	      <input type="text" class="media-link" placeholder="Paste Link to YouTube or Vimeo" style="margin:10px 0">
	    </div>
	    <button class="btn btn-green btn-save">Embed</button>

<!-- 												<div class="label_bubble"><input type="text" class="media-link text_input" name="media-link" onfocus="if(this.value == 'Paste Link to a YouTube, Instagram, Soundcloud&hellip;') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Paste Link to a YouTube, Instagram, Soundcloud&hellip;'; }" value="http://www.youtube.com/watch?v=F8kROkeRzrc" tabindex="-1"><a href="#embed" class="btn btn-embed_media">Embed</a></div> -->

		</div><!-- end: form.media-contain_top -->
			
<!-- 		<div class="media-contain_bottom">
			<span class="media-carrot"></span>
			
			<div class="media-examples">
			
				<span>Or try out some examples below, then use your own!</span>
				
				<ul>
					<li class="media-youtube"><a href="http://www.youtube.com/watch?v=F8kROkeRzrc" title="YouTube Video" class="media-fill">YouTube Video</a></li>
					<li class="media-vimeo"><a href="http://vimeo.com/7809605" title="Vimeo Video" class="media-fill">Vimeo Video</a></li>
					<li class="media-hulu"><a href="http://www.hulu.com/watch/336412/despicable-me-2" title="Hulu Video" class="media-fill">Hulu Video</a></li>
					<li class="media-instagram"><a href="http://instagr.am/p/JP4ur1RJAh/" title="Instagram Photo" class="media-fill">Instagram Photo</a></li>
					<li class="media-soundcloud"><a href="http://soundcloud.com/m83/midnight-city" title="Soundcloud Song" class="media-fill">Soundcloud Song</a></li>
					<li class="media-spotify"><a href="http://open.spotify.com/track/2v4dT8W8L7qNvpaTf3M4tJ" title="Spotify Song" class="media-fill">Spotify Song</a></li>
															</ul>
				
			</div> <!- - end: div.media-examples - ->
	
		</div> --><!-- end: div.media-contain_bottom -->

</div>