<!-- chestie neagra -->
<div class="head-explore subhead" style="height:100px;margin-top:-58px;">
	 <div class="container">
		<center><h1 style="color:#fff; font-size:40px;line-height:1; font-weight:300;"> Explore Events </h1></center>

	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			paginationInit();
		});
	</script>

</div>



<div class="navbar event-menu" style="margin-bottom:70px">
    <div class="navbar-inner lite">
    	<div id="wrapper">
		<ul class="nav" style="margin-top:5px;">
			<li> <a href="#"> <i class="icon icon-star"></i> FEATURED</a> </li>
			<li> <a href="#"> <i class="icon icon-time"></i> UPCOMING</a> </li>
       
        </ul>

          <ul class="nav pull-right" style="margin-top:5px;">
          	<li >
			 	<form class="form-search"> 
				  <input type="text" class="input-medium " style="height:18px;margin-top:5px">
			 <button type="submit" class="btn btn-orange">Search</button>
				</form>      
			</li>

          </ul>
      </div>
    </div>
</div>

