<article class="post event-section" style="margin-bottom:100px;padding-bottom:50px;">
	<section style="background:transparent">
		<aside>
				<div class="bubble">
					 <img src="<%= asset_path 'bubble/icon-sheet.png' %>"/>
				</div>
				<a><h1 style="float:left;line-height:86px;margin:0"> New section </h1></a>
		</aside>
		<div class="article-content" style="margin:0;">			 
			 <a id="new_section" class="btn btn-large btn-blue">Add new section</a>
		</div>
	</section>
</article>
<article class="post event-section" style="margin-bottom:100px;padding-bottom:50px;">
	<section style="background:transparent">
		<aside>
			<div class="bubble">
				<img style="margin:0" src="<%= asset_path 'bubble/icon-message.png' %>"/>
			</div>
			<a><h1 style="float:left;line-height:86px;margin:0"> Comments section </h1></a>
		</aside>
		<div class="article-content" style="margin:0;">
			  <a id="new_custom_block" class="btn btn-blue btn-large" style="width:200px">Add comments</a>
		</div>
	</section>
</article>


