<li class="add_content-bar last-bar">
	<div class="add_more_stuff">Add More Stuff</div>
	<div class="last-bar_icons">
		<ul>
			<li class="add_content-header enabled" data-type="header">Header</li>
			<li class="add_content-text enabled" data-type="text">Body Text</li>
			<li class="add_content-sponsorship" data-type="sponsorship">List</li>
			<li class="add_content-button" data-type="button">Button</li>
			<li class="add_content-gallery" data-type="gallery">Photos</li>
		<li class="add_content-media" data-type="media">Media</li>
		</ul>
	</div>
</li>
<li class="add_content-bar roam-bar">
	<div class="close-add_content">Close</div>
	<ul>
		<li class="add_content-header enabled" data-type="header">Header</li>
		<li class="add_content-text enabled" data-type="text">Body Text</li>
		<li class="add_content-sponsorship" data-type="sponsorship">List</li>
		<li class="add_content-button" data-type="button">Button</li>
		<li class="add_content-gallery" data-type="gallery">Photos</li>
		<li class="add_content-media" data-type="media">Media</li>
	</ul>
</li>