<li class="span4" style="style:none">
    <div class="thumbnail thumbnail-first">	 
			
           <img style="width:460px;" src="<%= event.image_url(:thumb).to_s %>">
                <div class="mask">
                    <h4>Conference / Technology</h4>
                    <p> Hey! I have something going on and need a developer to team up with for a fun project. if you know wordpress, paypal, jquery and care about design and web tr...</p> 
                     <h4 class="pull-left"><i class="icon icon-map-marker"></i>Cluj Napoca, Ro</h4>
            </div>  
            </img>

		   <div class="when">
                <img src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_fb.png"></img>
                <img src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_tw.png"></img>
                <img src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_pinterest.png"></img>   
            </div>

    		<div class="caption">
    			<h2 id="_event_title"><% event.title %></h2>
                <h3 class="pull-right"><i class="icon icon-calendar"></i>20-22 <small>Sep, 2012</small></h3>
               <!--  <h3 class="pull-left"><small><i class="icon icon-map-marker"></i>Cluj Napoca, Ro</small></h3> -->

    		</div>	 
    </div>
    <div class="thumbnail-info">
        <h6> <i class="icon-user icon-white"></i>3453</h6>
        <h6> <i class="icon-eye-open icon-white"></i>34</h6>
        <h6> <i class="icon-tag icon-white"></i>3453</h6>
    </div>
</li>
