<div class="row">
	<div class="span">
		<h2 style="margin-bottom:20px">New event</h2>
		<%= render(partial: 'form.html', locals: { event: event }) %>
	</div>

	<div class="span offset2">
		<ul style="list-style:none;">
			<h2 style="margin-bottom:20px">Preview</h2>
			<%= render(partial: 'event.html', locals: { event: event }) %>
		</ul>
	</div>

</div>