<div class="hide" id="new_custom_block_wrapper">
  <div class="modal-header">
    <h3>Create new block - <span style="color:#0099b5">select type</span></h3>
  </div>
  <div class="modal-body">
       <div class="square" style="width:auto;height:70px" data-type="sponsorship"> 
       <img style="margin-top:-5px;margin-bottom:0"  src=" <%= asset_path 'bubble/icon-sheet.png' %> ">
         <p style="line-height:1;padding:0 10px;">Sponsorship</p>
      </div>

      <div class="square" style="width:auto;height:70px" data-type=""> 
       <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-gift.png' %> ">
       <p style="line-height:1;padding:0 10px;">Awards & Prizes</p>
      </div>
      <div class="square" style="width:auto;height:70px" data-type=""> 
       <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-volunteers.png' %> ">
       <p style="line-height:1;padding:0 10px;"> People </p>
      </div>
      <div class="square" style="width:auto;height:70px" data-type=""> 
       <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-sheet.png' %> ">
       <p style="line-height:1;padding:0 10px;"> Other </p>
      </div>

  </div>
  <div class="pull-right" style="padding:0 0 15px 15px;">
    <button class="btn btn-danger btn-close" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>