
<div class="row">
	<div class="span offset4">
	
		<div class="selector">
			<ul class="new-event">
		        <li><a class="active">1. Basic Info</a></li>
		        <li><a>2. Personalize</a></li>
		        <li><a>3. Promote</a></li>	        
		    </ul>
		</div>	
	</div>
</div>

<div class="row">
	<div class="span5 offset1" style="padding: 0 10px 20px 0">

		<div style="float:right;margin-top:10px" class="btn btn-large btn-orange">Import from Eventbrite</div> 	
		<h2 style="margin-bottom:20px"><i class="icon-pencil"></i> New event</h2>
		<%= render(partial: 'form', locals: { event: event }, formats: [:html]) %>
	</div>

	<div class="span4" style="border-left:1px dashed #d0d0d0;padding: 0 10px 20px 15px">
		<ul style="list-style:none;">
			<h2 style="margin-bottom:20px"> Preview event</h2>
			<div style="margin-left:-30px;"><%= render(partial: 'event.html', locals: { event: event }) %></div>
			<h2 style="margin-top:15px">Socialbox</h2>
			<h2><small>Link other accounts related to this event</small></h2>
			<div style="margin-bottom:5px">
				<img style="float:left;margin-right:20px" src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_fb.png"></img>
				<input type="text" style="width:260px" placeholder="facebook.com/example">
			</div>
			<div style="margin-bottom:5px">
	            <img style="float:left;margin-right:20px" src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_tw.png"></img>
	            <input type="text" style="width:260px" placeholder="@example">				 
	        </div>
	        <div>
	            <img style="float:left;margin-right:20px" src="http://www.nationaltraveller.com/templates/traveler/images/demo-02_fb.png"></img>				 
	        </div>
		</ul>

	</div>

</div>