<h1>New event</h1>

<div class="row">

	<div class="span">
		<%= render(partial: 'form.html', locals: { event: event }) %>
	</div>

	<div class="span offset2">
		<%= render(partial: 'event.html', locals: { event: event }) %>
	</div>

</div>