<div class="modal fade hide" id="new_sponsorship" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a new section</h3>
  </div>
  <div class="modal-body">
    <%= render "custom_block", formats: [:html] %>

  </div>
  <div class="modal-footer">
    <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-green btn-save">Save</button>
  </div>
</div>