
<div style="z-index:1023;position:fixed;top:0px;left:0px;display:block;" class="clearfix">
  <div class="steps-nav" style="float:left;width:260px;padding:20px 40px 20px 25px; -webkit-transition: padding 100ms;">
          <ul class="bubble-selector clearfix" style="box-sizing: border-box;display:block;min-width:60px">
            <li class=""><a  href="#guidelines">1</a></li>
            <li class="active"><a href="#basics">2</a></li>
            <li class=""><a href="#event">3</a></li>
            <li><a href="#" >4</a></li>
          </ul>
<!-- 
          <div id="slide0" class="slidde">
            <h2>Guidelines</h2>
            <p>Start by reading this carefully, so that you can make the most out of your event</p>
          </div>
          <div id="slide1" class=" active slidde">
            <h2>Basic information</h2>
            <p>Location and date, upload a video and link your event with all media accounts</p>
          </div>
          <div id="slide2" class=" slidde">
            <h2>Detailed timeline of your event</h2>
            <p>Toggle the integrated terrain layer to show elevation hillshades.</p>
          </div>
          <div id="slide3" class="slidde">
            <h2>Add markers to your map</h2>
            <p>Annotate maps with pins, symbols, icons and interactive tooltips.</p>
          </div> -->

          <!-- <a class="btn btn-small btn-purple " style="float:right;margin:5px 5px" >Publish</a> -->
       <!--  <a class="btn btn-green btn-event-save" style="position:fixed;left:50px;float:right;margin:5px 5px" > Save </a> -->
  </div>
        
</div>
        

  <div id="carousel-edit" class="carousel slide" style="padding:0; height:0px;">
    <div class="carousel-inner">
      <div class="item car-guidelines edit_guidelines" style="color:black">
        <%= render( partial: "edit_guidelines", locals: { edit_mode: true }, formats: [:html])  %>
      </div>
      <div class="item car-basics edit_basic">
  			<%= render( partial: 'edit_basic', locals: { event: @event }, formats: [:html]) %>
      </div>
      <div class="item car-event event_show" style="color:black">
  			 <%= render( partial: "show", locals: { event: @event, edit_mode: true }, formats: [:html]) %>
      </div>
    </div>
<!-- 
    <a class="carousel-control left" href="#car" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#car" data-slide="next">&rsaquo;</a> -->
  </div>
