<h1>Listing events</h1>

<div id="events">
    <%= render @events %>
    <!--%= render :partial => "event_thumbnail", :collection => @events %-->
</div>


<br />
<br />
<%= will_paginate @events %>


<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>




<% if false %>
	<% @events.each do |event| %>
	 <%= render :partial => "event_thumbnail", :locals => { :event => event } %>

	<% end %> 
<% end %> 




