<div id="wrapper">
	<div class="row-fluid">
		<ul id="events" class="thumbnails">
			<% @events.each do |event| %>
				<li class="span4" style="style:none">
					<%= render partial: "event", locals: { event: event }, formats: [:html] %>
				</li>
			<% end %>
		</ul>
	</div>

	<br />
	<br />
	<%= will_paginate @events %>

</div>
<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>