<div id="wrapper">
		<h1>Listing events</h1>
	    <div class="row-fluid">
	        <ul  id="events" class="thumbnails">
	   		  <%= render @events %>
	    	</ul>
 	</div>

	<br />
	<br />
	<%= will_paginate @events %>

</div>
	<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %> 
