<h1>Listing events</h1>
 <div id="events" class="row-fluid">
    <ul class="thumbnails">

    <%= render @events %>

    </ul>
</div>

<br />
<br />
<%= will_paginate @events %>


<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>
