/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
*/

/* Rad menu */
.menu_button
{ position:absolute;
  bottom:6px;
  left:20px;
  
  border-radius:50%;
  height:32px;
  width:32px;
  border:3px solid #fff;
  text-indent:-99999px;
  overflow:hidden;
  background-color:#f4512f;
  z-index:9999;
  outline:0; }

.menu_button span
{ display:block;
  height:32px;
  width:32px;
  background:url("/assets/cross.svg") no-repeat center center;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4s ease; }

.menu_option
{ 
  /*sa se ascunda in spatele pozei*/
  bottom:29px; 
  left:-1px;
  position:absolute; }

.menu_option li
{ position:absolute;
  display:block;
  top:0;
  left:0;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s; }

.menu_option li a
{ position:relative;
  display:block;
  border-radius:50%;
  width:26px;
  height:26px;
  border:3px solid #fff;
  box-shadow:rgba(0,0,0,.4) 0 0 5px 0,rgba(0,0,0,.2) 0 0 0 1px,inset rgba(0,0,0,.5) 0 0 2px 0;
  text-indent:-99999px;
  overflow:hidden;
  background:#444; }

.menu_option li a span
{ background-attachment:scroll;
  background-clip:border-box;
  background-color:transparent;
  background-image:url("/assets/usr.png");
  background-origin:padding-box;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:16px 16px;
  display:block;
  width:26px;
  height:26px;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4s ease; }

.btn-rotate span
{ -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  -o-transform:rotate(-135deg);
  transform:rotate(-135deg); }

.active .menu_option li a
{ -webkit-animation:expand .6s ease 1 backwards;
  -moz-animation:expand .6s ease 1 backwards;
  -ms-animation:expand .6s ease 1 backwards;
  -o-animation:expand .6s ease 1 backwards;
  animation:expand .6s ease 1 backwards; }

  @-webkit-keyframes expand{0%{ top:0}50%{top:-10px}70%{top:10px}100%{top:0}}
  @-moz-keyframes expand{0%{ top:0}50%{top:-10px}70%{top:10px}100%{top:0}}

  /* Rad menu -end*/
