// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body{margin-top:-60px;} //compensate for the space the navbar replaces on large screens
/* Landscape phones and down */

/*nush daca se foloseste*/
.wrapper-explore{
  margin:0 60px;
  display:block;
  max-width: 1400px;
}

.selector{
	float:right;
}
.selector ul {
margin: 80px 0 0;
padding: 0;
display: inline-block;
}

.selector ul.sign-up {
margin: 30px 0 60px 0;
padding: 0;
display: inline-block;
}
.selector ul.new-event {
margin: 10px 0 50px 0;
padding: 0;
display: inline-block;
}
.selector ul li {
	float: left;
	margin-left: 28px;
	text-transform: uppercase;
	list-style: none;
	cursor: pointer;
}

.selector ul li a {
	color:#999;
	letter-spacing: 1px;
	font-size:13px;
	font-weight: bolder;
	text-shadow: rgba(255, 255, 255, 0.3) 0 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}

.selector ul li a:hover {
color: #222;
}
.selector ul li a.active {
color: #222;
padding: 8px 0;
border-top: solid 2px #222;
}

.white-triangle-pointer-item {
	width: 37px;
	height: 19px;
	position: absolute;
	left: 15px;
	top: -4px;
	//background: url('../images/white_triangle_pointer.png') no-repeat center top;
	background-image: url('/assets/white_triangle_pointer.png');
	background-repeat: no-repeat;
}

.when {
   position:absolute;
   top:20px;
   left:0px;
   max-width:28px;
   color:white;
   background: rgba(255, 255, 255, 1);
}

.when img{
  float:left;
  width:28px; 
  height:28px;
}

.thumbnail {
   border: 8px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
   cursor: default;
}

.thumbnail-info {
  padding:6px 0px;
}
.thumbnail-info h6{
  font-size:13px;
  padding:0 8px;
  float:right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thumbnail .caption {
  padding:9px 0px 0 9px;
  position: relative;
}

.thumbnail .mask{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   background:rgba(255,255,255,0.82);
   display:none;
}

.thumbnail h2 {
   color: #555;
   text-align:left;
   font-size: 16px;
   line-height:22px;
   margin-bottom:8px;
}
.thumbnail h3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
  margin:0;
  font-size:18px;
  line-height: 1;
}

.thumbnail h4 {
   padding: 10px 10px 0px 40px;
   margin: 10px 0 0 0;
   color: #444;
   text-align: left;
   position: relative;
   /* font-size: 16px;*/
   font-weight: normal;
   line-height: 1;
}

.thumbnail h5 {
   font-size: 14px;
   position: relative;
   padding: 0;
   text-align: left;
   font-weight: normal;
   padding-top:5px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thumbnail p {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   color: #555;
   line-height:1.4;
   font-weight: bolder;
   padding: 5px 40px;
   text-align:left;
   max-height: 45px;
   overflow:hidden;
}

//custom image uploader button
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  position: relative;
}
.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.file-wrapper input {
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}
//---pana aici---custom image uploader button

//de aici vine event_header
	.event_head{margin-bottom:50px;}
 

	#head_line { 
		height:6px;
		background:#E1704B;
	}

	.presenter {
		padding: 10.25em 0;
		background-position:0 -12em;
		background-size:cover;
		background-repeat:no-repeat;
		overflow:hidden;
		height:10.50em;


	}

	.event-menu{
		 background-image: url('/assets/images/body_noise_media.png');
	}

	.lite {
		border:1px 0px 1px 0px solid #d4d4d4; // initial era border: 1px solid #D4D4D4;
		border-left:0px;
		border-right:0px;
		-webkit-border-radius: 0px; //4px
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;

		min-height:50px;
		height:50px; 
		background-color:#fefefe;
		background-image:none;	
	}

 	.preview_container{
		margin-bottom:0px;
		text-shadow: 1px 1px 1px #000;
		background-image: url('/assets/pattern.png');
		color:white;

	}

	.preview_container .navbar-inner >ul > li img{
		float:left;
		margin-right:15px;
		margin-top:8px;
		height:50px; 
		width:50px;

	}

	.preview_container .navbar-inner header{
		display:block;
		float:left;
		margin-top:8px;
		margin-right:20px;
	}

	.preview_container .navbar-inner header > h3{
		margin: 10px 0 0 0;
		text-align:left;
	    font-weight: 500;
	    font-size: 1.5em;
	    line-height: 1.15em;
	    max-width:190px;
	    overflow: hidden;white-space:nowrap;
	}
	.preview_container .navbar-inner header > p{
		text-align:left;
	    font-weight: 500;
	    font-size: 1.2em;
	    line-height: 1.1em;
	    margin: 8px 0 0 0;
	    max-width:195px;
	    overflow: hidden;white-space:nowrap;text-overflow:ellipsis;
	}

 	.section{
 		/*height:76px; */
 		width:145px;
 		padding-right:15px;
 	}

	.numbers {
		min-height:76px;
		height:76px;
		border-bottom:1px solid #fff;
		margin-bottom:0px; 
		position:relative;
		z-index:49;
		padding-top:20px;
		text-align:right;	

	}
	.numbers h1 {
	    font-size: 3.6em;
	    line-height: 1.008em;
	    font-weight: 500;
	    text-align:right;
	    /*text-shadow: rgba(0, 0, 0, 0.15) 0 3px;*/
	    margin: 5px 0 0 0;
	    color:#E1704B;
	}
	.numbers p {
	    font-size: 1.7em;
	    line-height: 1.294;
	    text-align:right;
	    margin-bottom: 5px;
	}

	 .pull-center {
        text-align: center;
    }
    .pull-center > .nav {
        float:none;
        display:inline-block;
        *display: inline; *zoom: 1;
        height: 32px;
    }

    .arrow-up {
		width: 0; 
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid black;
		position: relative;top:0;left:115px;
	}

	.preview_container {
		margin-bottom:50px;
		position:relative;
		z-index:45;
		height:66px;
		border-bottom:1px solid #fff;
		border-top: 1px solid #fff;
		 -moz-box-shadow: inset 0px 1px 12px 1px rgba(0,0,0,.7);
		 -webkit-box-shadow: inset 0px 1px 12px 1px rgba(0,0,0,.7);
		 box-shadow:inset 0px 1px 12px 1px rgba(0,0,0,.7);
	}

	.preview_element {}



	/* Landscape phones and down */
	@media (min-width: 480px) 
	{

	}
	 
	 /* Landscape phone to portrait tablet */
	@media (max-width: 767px) 
	{ 
		/*body{padding:0} daca nu pun asta, apare padding la body la device uri mici (peste tot)*/
		.presenter { padding-bottom:0px; height:5.25em;}
	}
	 
	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) 
	{ 
		.event_head { margin-top:0px; }
		.presenter { padding-bottom:0px; height:9.00em;}
	}

	@media (min-width: 979px)
	{
	.event_head { margin-top:-60px; }

	}
	 
	/* Large desktop */
	@media (min-width: 1200px) 
	{ 
		.event_head { margin-top:-60px; }
		
	}

/*pana aici event header*/

