article, aside, details, figcaption, figure, footer, header, menu, section {
    display: block;
}

::-moz-selection {
    background: #f95602;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f95602;
    color: #fff;
    text-shadow: none;
}


h1, h2, h3, h4 {
    font-family: "Museo-300", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* aici textarea */
input, button, textarea {
    font: 1.4em/1.4em "Museo-300", Helvetica Neue, Helvetica, Arial, sans-serif;
    outline: 0;
}

a {
    text-decoration: none;
}
a, a:hover {
    text-decoration: none;
    color: #0099b5;
}

#wrapper {
    max-width: 1140px;
    position: relative;
    z-index: 50;
    margin: 0 auto;
    padding: 0 40px;
}

hr {
    clear: both;
    width: auto;
    height: 5px;
    border: 0;
/*   *background: url("bg-double-line.png") repeat-x center bottom;*/
}

@media only screen and (-webkit-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-device-pixel-ratio: 2) {
        .logo {
        background: url(../images/logo_2x.png) no-repeat;
        background-size: 148px 109px;
    }
}

.event-timeline {
    padding-top: 70px;
    margin-bottom: -50px;
    clear: both;
    background: url('timeline.png') repeat-y 256px top;
}

.event-timeline .loading {
    position: absolute;
    bottom: 150px;
    right: 0px;
    left: 0px;
    font-size: 1.4em;
    text-align: center;
}

.event-timeline article {
    position: relative;
    margin: 50px 0 30px;
    padding-left: 310px;
    clear: right;
}

.event-timeline article aside {
    position: absolute;
    //width: 300px; /*210*/
    top: -100px; /* ca sa stea deasupra */
    left: 250px; 
    
    padding-left: 60px;
    padding-right: 0;
    /*width: 100%;*/
    text-align: left;
    overflow: hidden;
    background: url('timeline-item-bg-flipped.png') no-repeat left 34px;
}

.event-timeline article aside .bubble, .event-timeline article aside a.bubble {
    display: block;
    margin-bottom: 20px;
    float: left;
    width: 86px;
    height: 86px;
    margin: 0 10px 0 0;
    line-height: 20px;
}

.event-timeline article aside .bubble img, .event-timeline article aside a.bubble img {
   background-position:center center;
   margin-top:-8px;
}

.event-timeline article aside a {
    color: #353534;
}

.event-timeline article aside .bubble {
    background: #0099b5;
    text-align: center;
    font-size: 1.55em;
    line-height: 90px;
    font-weight: 400;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}


.event-timeline article aside .tags {
    margin-top: 20px;
}
.event-timeline article aside .tags li {
    margin-top: 3px;
}
.event-timeline article aside .tags li a {
    display: inline-block;
    padding: 6px 10px 7px 10px;
    color: #353534;
    font-weight: 300;
    background: #e6e5e2;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.event-timeline article aside .tags li a:hover {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.1) 0 -1px;
    background: #0099b5;
}

.event-timeline article.event-section section .article-content ul{
    margin:0;
}
.event-timeline article.event-section section .article-content {
    font-size: 1.4em;
    line-height: 1.6em;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.event-timeline article.event-section section .article-content p {
    padding: 0;
    margin-bottom: 10px;
}
.event-timeline article.event-section section .article-content p a {
    color: #0099b5;
}
.event-timeline article.event-section section .article-content p a:hover {
    text-decoration: underline;
}


.event-timeline article.event-section header h2 {
    font-size: 3.6em;
    font-weight: 300;
    line-height: 1.111em;
}

.event-timeline .article-content h1 {
    font-size: 2.5em;
    line-height: 1.111em;
}

.event-timeline .article-content  h2 {
    font-size: 2em;   
    line-height: 1em;
}

.event-timeline .article-content h3 {
    font-size: 1.8em;
    line-height: 0.9em;
}

.event-timeline article.event-section section {
    padding: 0px;
    overflow: hidden;
    background: #fff;
}

/*asta ca sa aiba li u margin nu sectionu padding*/
.article-content li.element .redactor_editor,
.article-content li.element .block-content
{
    margin: 0;
}


.event-timeline article.event-section section .article-content {
    margin-top: 14px;
}

.back-to-top {
    width: 66px;
    height: 66px;
    display: block;
    position: fixed;
    right: 25px;
    bottom: 55px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background: url("/assets/back-to-top.png") no-repeat;
    z-index: 100;
}


.event-timeline {
    position: relative;
    margin-bottom: 100px; /* aici ca sa stea bine cu bula,era 30*/
    padding-bottom: 70px;
}
.event-timeline article {
    margin-bottom: 15px;
}

.event-timeline .article-content li {
    line-height: 0px;
}

.event-timeline article p {
    font-size: 0.9em;
    line-height: 1.4em;
}

.event-timeline article.event-section header h2 {
    display: block;
    font-size: 2.545em;
    line-height: 1.179em;
}

.event-timeline article.event-section section img {
    float: none;
}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {

    #wrapper {
        font-size: 1.1em;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 870px) {

    #wrapper {
        padding: 0 10px;
    }

    .event-timeline {
        background-position: 17px top;
        padding-left: 11px;
    }
    .event-timeline article {
        padding: 90px 0 0 30px;
    }

    .event-timeline article.event-section section img {
        float: none;
    }

    .event-timeline article aside {
        padding-left: 30px;
        padding-right: 0;
        left:0;
        top:0;
        width: 100%;
        text-align: left;
        overflow: hidden;
        background: url('timeline-item-bg-flipped.png') no-repeat left 28px;
    }

    .event-timeline article aside a .bubble, .event-timeline article aside .bubble {
        float: left;
        width: 75px;
        height: 75px;
        margin: 0 10px 0 0;
        line-height: 75px;
    }

    .event-timeline article aside .bubble {
        font-size: 1.4em;
        line-height: 75px;
        font-weight: 400;
    }

    .event-timeline article aside .tags {
        display: none;
    }    

}

@media screen  and (max-width: 660px) {
    #wrapper {
        font-size: 1em;
    }

    .event-timeline {
        padding-top: 0;
    }
    .event-timeline article:first-child {
        margin-top: 30px;
    }

}

@media screen and (max-width: 470px) {

    #wrapper {
        font-size: 0.8em;
        overflow: hidden;
    }

    .event-timeline {
        margin-top: -45px;
    }
    .event-timeline article {
        padding-top: 100px;
    }


    .event-timeline article.event-section section {
        padding: 20px;
    }
    .event-timeline article.event-section section img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .event-timeline article aside {
        min-height: 125px;
        background-position: left 23px;
    }

    .event-timeline article aside .bubble {
        font-size: 1.99em;
        line-height: 75px;
        font-weight: 400;
    }

}
